@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=latin,vietnamese,latin-ext);





#dropdown-menu-2btn-2 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-2 .navbar-brand a {
  font-family: 'Playfair Display', sans-serif;
}
#dropdown-menu-2btn-2 .nav .link,
#dropdown-menu-2btn-2 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-2 .navbar,
#dropdown-menu-2btn-2 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-2 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-2 .dropdown-menu a:hover,
#dropdown-menu-2btn-2 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-2 .navbar-toggler {
  color: #000000;
}
#header1-1 H1 {
  text-align: center;
  font-size: 36px;
  font-family: 'Alegreya Sans', sans-serif;
}
#header1-1 P {
  text-align: center;
  color: #000000;
}
#header1-1 I {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 36px;
}
#header1-1 B {
  color: #0275d8;
  font-size: 23px;
}
#msg-box2-w H2 {
  text-align: left;
  color: #e6e0dc;
  font-family: 'Alegreya Sans', sans-serif;
}
#features1-4 H4 {
  font-family: 'Alegreya Sans', sans-serif;
  text-align: right;
}
#features1-4 P {
  font-size: 16px;
  color: #000000;
}


#form1-f .mbr-section-title {
  color: #000000;
  font-family: 'Alegreya Sans', sans-serif;
}
#dropdown-menu-2btn-d .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-d .navbar-brand a {
  font-family: 'Playfair Display', sans-serif;
}
#dropdown-menu-2btn-d .nav .link,
#dropdown-menu-2btn-d .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-d .navbar,
#dropdown-menu-2btn-d .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-d .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-d .dropdown-menu a:hover,
#dropdown-menu-2btn-d .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-d .navbar-toggler {
  color: #000000;
}


#dropdown-menu-2btn-j .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-j .navbar-brand a {
  font-family: 'Playfair Display', sans-serif;
}
#dropdown-menu-2btn-j .nav .link,
#dropdown-menu-2btn-j .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-j .navbar,
#dropdown-menu-2btn-j .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-j .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-j .dropdown-menu a:hover,
#dropdown-menu-2btn-j .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-j .navbar-toggler {
  color: #000000;
}
#content5-l .mbr-section-title {
  text-align: left;
  font-family: 'Alegreya Sans', sans-serif;
}


#dropdown-menu-2btn-m .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-m .navbar-brand a {
  font-family: 'Playfair Display', sans-serif;
}
#dropdown-menu-2btn-m .nav .link,
#dropdown-menu-2btn-m .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-m .navbar,
#dropdown-menu-2btn-m .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-m .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-m .dropdown-menu a:hover,
#dropdown-menu-2btn-m .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-m .navbar-toggler {
  color: #000000;
}
#form1-p .mbr-section-title {
  text-align: right;
  font-family: 'Alegreya Sans', sans-serif;
}



#dropdown-menu-2btn-x .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-x .navbar-brand a {
  font-family: 'Playfair Display', sans-serif;
}
#dropdown-menu-2btn-x .nav .link,
#dropdown-menu-2btn-x .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-2btn-x .navbar,
#dropdown-menu-2btn-x .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-x .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-x .dropdown-menu a:hover,
#dropdown-menu-2btn-x .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-x .navbar-toggler {
  color: #000000;
}
#content5-10 .mbr-section-title {
  text-align: left;
  font-family: 'Alegreya Sans', sans-serif;
}
#content4-12 H4 {
  font-family: 'Alegreya Sans', sans-serif;
}
